.main_content
    #recipe_top.row
        .col-md-4 
            = image_tag @recipe.image.url(:medium), class: "recipe_image"
        .col-md-8 
            #recipe_info 
                %h1= @recipe.title
                %p.description= @recipe.description
    
    .row 
        .col-md-6 
            #ingredients 
                %h2 Ingredients 
                %ul 
                    - @recipe.ingredients.each do |ingredient|
                        %li= ingredient.name 
        .col-md-6 
            #directions 
                %h2 Direction
                %ul 
                    - @recipe.directions.each do |direction|
                        %li= direcion.step
    .row 
        .col-md-12
            %h2 Drink that goes with the meal 
            %br
    .row
        .col-md-4               
            
            = image_tag @output['drinks'][0]['strDrinkThumb'],class: "recipe_image"
                

        .col-md-8 
            #directions 
                %h2= @output['drinks'][0]['strDrink']
                %ul
                    %li= @output['drinks'][0]['strIngredient1']
                    %li= @output['drinks'][0]['strIngredient2']
                %h2 Direction
                %ul
                    %li= @output['drinks'][0]['strInstructions']
    .row 
        .col-md-12 

           
            = link_to "Back", root_path, class: "btn btn-default"
            = link_to "Edit", edit_recipe_path, class: "btn btn-default"
            = link_to "Delete", recipe_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-default" 





