!!! 5
%html
%head
  %title MapishiApp
  = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true 

  = javascript_importmap_tags
  = csrf_meta_tags
  = csp_meta_tag
%body
  -# navigation
  %nav.navbar.navbar-default
    .container 
      .navbar-brand= link_to "Mapishi", root_path 

      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Add Recipe", new_recipe_path 
      
  
  .container 
    .row 
      .col
        #landing
          %h1 Mapishi
          %h2 Coupling your recipes with a perfect drink
          %br
          %p Mapishi which is Swahili for Recipes, is a recipe application designed to enable users to post their recipes.
          %p Once posted it displays the recipe which when clicked, shows a random cocktail that would go well with the meal.
          %br
          %br
    
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert"
    = yield

